@model List<UsuarioVM>


<h1>Perfil</h1>
<table class="table">
    <thead>
        <tr>
            <td>Email</td>
             @if (User.IsInRole("Admin"))
        {
            <td>Es Admin</td>
            <td>Acción</td> 
            }
        </tr>
    </thead>

    <tbody>

        @if (User.IsInRole("Admin"))
        {
            @foreach (var usuario in Model)
            {

                <tr>
                    <td>@usuario.Email</td>

                    <td>@(usuario.EsAdmin ? "✅" : "⛔")</td>
                    <td>
                        <a class="btn @(usuario.EsAdmin ? "btn-secondary" : "btn-primary")"
                           asp-action="PermisoAdmin" asp-route-id="@usuario.Id"
                           asp-route-esAdmin="@usuario.EsAdmin">
                            @(usuario.EsAdmin ? "Quitar Admin" : "Dar Admin")
                        </a>
                    </td>



                </tr>
            }
        }
        else
        {

        <td>@User.Identity.Name</td>

    }

    </tbody>

</table>